* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: #ECE9FD;
    padding: 6.0rem 2.3rem 6.6rem;
    font-family: 'Epilogue', sans-serif;
margin: o auto;
}

main {
    margin: 0 auto;

}

header p {
    color: #7158EF;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1.7rem;
}

body h1 {
    height: 14.4rem;

    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;
    margin-bottom: 1.5rem;
}

p {

    color: #0A0039A3;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding-bottom: 3.2rem;
}

a {
    text-decoration: none;
    color: #090039;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

}

a:hover {
    color: #7158EF;

}

ul {
    margin-top: 7.7rem;

}

ul li {
    display: flex;

    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 25.7rem;
    height: 6.4rem;
    align-items: start;

}

ul li span {
    font-style: normal;
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
    margin-right: 3.8rem;
    width: 3.4rem;
    height: 8.0rem;
    letter-spacing: -2px;

}

ul li+li {
    margin-top: 4.8rem;
}

@media (min-width:50rem) {

    body {
        
     
        height: 5.63rem;
        width: 144.0rem;
       
       margin:auto;

       


    }

    main {

        display: flex;
        gap:11.6rem;
        height: 376px;
        width: 1021px;
        height: 376px;
        margin-top: 8.0rem;
        margin-right: 28.4rem;
         margin-bottom: 10.8rem;
         margin-left:  13.5rem;
    }


    body h1{

height: 96px;
width: 484px;
left: 135px;
top: 129px;

    }


    p {
        height: 68px;
width: 484px;
left: 135px;
top: 256px;
margin-bottom: 2.8rem;
margin-top:3.1rem;

    }




    ul {
        padding-top: 6.5rem;
    }
    ul li {
        max-width: 41.0rem;
align-items: center;
margin-bottom: 3.2rem;
margin-left: 6.6rem;


    }

}




